<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="inner-nav">
                <h1 style="display: inline;"><img src="../static/LOGO.png" width="50" height="50" class="img-int"><span class="marg"> Intellignte</span></h1>
                <button style="display: inline;" class="button-nav-1">Log in</button>
                <button style="display: inline;" class="button-nav-1">Sign Up</button>
                <button style="display: inline;" class="button-nav-1">Get Started</button>
            </div>
        </nav>
       
    </header>
    
</body>
</html>